@import "/src/styles/variables";

.period {
  display: flex;
  align-items: stretch;
  height: 100%;
  position: relative;
}


.view {
  position: relative;

  @mixin view {
    position: absolute;
    width: 1px;
    background: transparent;
    top: 0px;
    bottom: 0px;
  }

  &__left {
    @include view;
    left: 0px;
  }

  &__right {
    @include view;
    right: 0px;
  }
}

$height: 24px;

.week {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:not(:nth-child(2)) {
    border-left: $border;

  }

  &__top {
    background: $grayField;
    display: flex;
    flex-direction: column;
    border-bottom: $border;

  }

  &__period {
    @include smallText;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $border;
  }

  &__dates {

    display: flex;
    align-items: stretch;
  }

  .day {
    height: $height;
    width: $cellWidth;
    @include smallText;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day:not(:last-child) {
    border-right: $border;
  }

  .weekend {
    color: $lightDateNumber;
  }
}

.chart {
  flex-grow: 1;
  display: flex;
  align-items: stretch;

  &__column {

    width: $cellWidth;
    height: 100%;
  }

  &__column:not(:last-child) {
    border-right: $border;
  }
}
