@import "/src/styles/variables";

.table {
  width: 100%;
  height: auto;
  min-height: 710px;
  overflow: hidden;
  border: $border;
  border-bottom-left-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
  display: flex;
  margin-bottom: 50px;
position: relative;

  &__wrapper {
    display: block;
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    height: 100%;
  }

  .title {
    padding: 15px 20px;
    min-height: 48px;
    background: $grayField;
    border-bottom: $border;

    &__text {
      @include mediumText;
      color: $grayText;
    }


  }

  &__left {
    flex-grow: 1;
    width: $planWidth;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: $border;
  }

  &__right {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;

    .fade {

      @mixin fade {
        position: absolute;
        width: 20px;
        top: 0;
        height: 100%;
        transition: opacity 1s ease-in-out;
        animation: appear .3s ease-in-out;
      }

      &__left {
        @include fade;
        left: $planWidth;
        background: linear-gradient(to left, transparent, rgba(black, .3));
      }

      &__right {
        @include fade;
        right: 0;
        background: linear-gradient(to right, transparent, rgba(black, .3));

      }
    }
  }

  &__right:hover {
    overflow-x: scroll;

  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

