@import "/src/styles/variables";

.table {
  width: 100%;
  height: auto;
  box-shadow: inset -56px 0px 28px -44px rgba(black, .5);
  position: relative;
  min-height: 710px;
  overflow: hidden;
  border: $border;
  border-bottom-left-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
  display: flex;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 0px;
    left: $planWidth;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .title {
    padding: 15px 20px;
    min-height: 48px;
    background: $grayField;
    width: $planWidth;
    border-bottom: $border;

    &__text {
      @include mediumText;
      color: $grayText;
    }


  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__right {
    overflow: hidden;
  }
}

